 ## XOR

In [ ]:
# Implement XOR 
# xor(0,0)=0;
# xor(0,1)=1;
# xor(1,0)=1;
# xor(1, 1) = 0.xor(1,1)=0.

In [44]:
s1 = "0 0 1 1"
s2 = "0 1 0 1"

In [47]:
print(*map(lambda x: x[0] ^ x[1],
    zip(
        map(int, s1.split()),
        map(int, s2.split())
    )
))

0 1 1 0

## Similar words

In [ ]:
# To create a quiz you need to select words similar to the correct answer.
# You are given proposed words and their similarity score. 
# Leave only words with similarity score greater than 0.50.5. 
# Print these words in descending order of similarity score.

# Input format: The first line contains the proposed words. The second line contains similarity score of each word. It is guaranteed that all words have different similarity scores.

# Output format: Print words in descending order of similarity score after filtering.

In [27]:
s1 = "car cars jeep mercedes motorcycle scooter truck van vehicle vehicles"
s2 = "0.99 0.74 0.65 0.61 0.63 0.64 0.67 0.61 0.78 0.60"

In [42]:
words = s1.split()
score = map(float, s2.split())

In [43]:
print(*map(lambda x: x[0], 
    sorted(
        filter(lambda x: x[1]>=0.5,
            zip(words, score)),
        key=lambda x: x[1],reverse=True)
    )
)

car vehicle cars truck jeep scooter motorcycle mercedes van vehicles

## Taxi 2

In [ ]:
# Input format: The first line contains NN numbers through a space specifying distances in kilometers 
# from work to the homes of employees. The second line contains NN fares for one kilometer in a taxi. 
# All distances are unique and all rates are unique too.

# Output format: Give taxi cars integer indexes starting from zero. For each employee print the index 
# of the taxi they should choose.

# Input data:
# 10 20 30
# 50 20 30

# Program output:
# 0 2 1

In [ ]:
s1 = "10 20 1 30 35"
s2 = "1 3 5 2 4"

In [15]:
sorted(
enumerate(map(int, s1.split())),
key=lambda x: x[1]
)

[(2, 1), (0, 10), (1, 20), (3, 30), (4, 35)]

In [16]:
sorted(
    enumerate(map(int, s2.split())),
    key=lambda x: x[1],
    reverse=True
)

[(2, 5), (4, 4), (1, 3), (3, 2), (0, 1)]

In [17]:
list(zip(
    sorted(
        enumerate(map(int, s1.split())),
        key=lambda x: x[1]
    ),
    sorted(
        enumerate(map(int, s2.split())),
        key=lambda x: x[1],
        reverse=True
    )
))

[((2, 1), (2, 5)),
 ((0, 10), (4, 4)),
 ((1, 20), (1, 3)),
 ((3, 30), (3, 2)),
 ((4, 35), (0, 1))]

In [18]:
sorted(
    zip(
        sorted(
            enumerate(map(int, s1.split())),
            key=lambda x: x[1]
        ),
        sorted(
            enumerate(map(int, s2.split())),
            key=lambda x: x[1],
            reverse=True
        )
    ),
    key=lambda x: x[0][0]
)

[((0, 10), (4, 4)),
 ((1, 20), (1, 3)),
 ((2, 1), (2, 5)),
 ((3, 30), (3, 2)),
 ((4, 35), (0, 1))]

In [19]:
print(
    *map(
        lambda x: x[1][0],
        sorted(
            zip(
                sorted(
                    enumerate(map(int, s1.split())),
                    key=lambda x: x[1]
                ),
                sorted(
                    enumerate(map(int, s2.split())),
                    key=lambda x: x[1],
                    reverse=True
                )
            ),
            key=lambda x: x[0][0]
        )
    )
)

4 1 2 3 0

## Merge logs

In [48]:
# Input format: 
# The first line contains the names of log files. In the log files, each line contains one JSON
# with fields "date", "message" and "consumer_id". 
# The second line contains the filename where the results should be saved.

# Output format: Write the messages in the desired order to the output file. 
# Each line should contain fields "date" and "message" from original files separated by a tab 
# (use character '\t'). 
# To separate lines, use the newline character '\n'.

In [51]:
import os 
print(os.listdir())

['Summary .ipynb', 'request.json', 'Taxi 2.py', 'HW.ipynb', 'XOR.py', '.ipynb_checkpoints', 'words.txt', '.vscode', 'company.txt', 'Similar words.py']

In [ ]:
import json
file_list = input().split()
output_file = input()
res = []

for file_name in file_list:
    with open(file_name) as f:
        for line in f:
            log = json.loads(line)
            res.append((log["date"], log["message"]))

with open(output_file, 'w') as f:
    for date, message in sorted(res):
        f.write(f'{date}\t{message}\n')

## Analyze titanic dataset

In [75]:
os.listdir()

['Summary .ipynb',
 'Merge logs.py',
 'request.json',
 'Taxi 2.py',
 'input_0.json',
 'HW.ipynb',
 'output.tsv',
 'titanic.csv',
 'XOR.py',
 '.ipynb_checkpoints',
 'words.txt',
 '.vscode',
 'company.txt',
 'Similar words.py']

In [113]:
import pandas as pd
data = pd.read_csv("titanic.csv")
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [115]:
data.tail(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [114]:
data.shape

(891, 12)

In [84]:
# How many males were on the ship?
data[data['Sex'] == 'male'].shape

(577, 12)

In [91]:
# How many people with 'Parch' greater than 0?
data['Parch'] = data['Parch'].apply(lambda x: int(x))
data[data['Parch_num'] > 0].shape

(213, 13)

In [94]:
# What is the proportion of first class passengers among all passengers? 
round(data[data['Pclass'] == 1].shape[0]/data.shape[0],2)

0.24

In [105]:
# What is the proportion of surviving passengers among all passengers? 
round(data[data['Survived'] == 1].shape[0]/data.shape[0],2)

0.38

In [120]:
# 6.What is the proportion of survivors among first-class passengers? 
# Round the answer to two decimal places.
round(data[data['Pclass'] == 1].shape[0]/data[data['Survived'] == 1].shape[0],2)

0.63

In [104]:
# 7. What is the average age of passengers in years? Round the answer to two decimal places.
round(data['Age'].mean(),2)

29.7

In [119]:
# 8. What is the median age of passengers in years? Round the answer to two decimal places.
data['Age'].median()

28.0

In [118]:
data['Age'].value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
28.00    25
21.00    24
25.00    23
36.00    22
29.00    20
32.00    18
27.00    18
35.00    18
26.00    18
16.00    17
31.00    17
20.00    15
33.00    15
23.00    15
34.00    15
39.00    14
17.00    13
42.00    13
40.00    13
45.00    12
38.00    11
50.00    10
2.00     10
4.00     10
47.00     9
         ..
71.00     2
59.00     2
63.00     2
0.83      2
30.50     2
70.00     2
57.00     2
0.75      2
13.00     2
10.00     2
64.00     2
40.50     2
32.50     2
45.50     2
20.50     1
24.50     1
0.67      1
14.50     1
0.92      1
74.00     1
34.50     1
80.00     1
12.00     1
36.50     1
53.00     1
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: Age, Length: 88, dtype: int64

In [103]:
data[data['Fare'] > data['Fare'].mean()].shape

(211, 13)

In [121]:
lst = [["2019-03-04"],
      ["2018-03-04"]]

In [122]:
lst.sort()

In [123]:
lst

[['2018-03-04'], ['2019-03-04']]

## Analyze logs

In [ ]:
# JSON contains 22 fields -− "message" and "status". 
# We want to know how many messages have a status of 200. 
# Additionally, we want to know how many messages had a status other than 200,
# how many messages had an incorrect status,
# how many messages were without status, and how many messages can't be read.

In [ ]:
# Input format: The first line contains the name of the log file.

# Output format: Print 55 numbers on separate lines:

# Number of messages (lines) with the correct status 200;
# The number of messages with the correct status but not equal to 200;
# The number of lines in which the message has a status, but it is not an integer;
# The number of messages with no status, either None or an empty string is written in the status;
# Number of messages that cannot be read.

In [125]:
# Input data:
# input_02.jsonl

# Program output:
# 47
# 15
# 10
# 32
# 20

In [9]:
import json

log_filename = 'json_sample.json'

count_200_status = 0 
count_correct_no_200_status = 0
count_not_integer_status = 0
count_no_status = 0
count_meg_unread = 0

with open(log_filename, 'r') as f:
    for line in f:
        try:
            log = json.loads(line)
            if log.get('status') is None or log.get('status') == '':
                count_no_status += 1
            else:
                try:
                    if int(log['status']) == 200:
                        count_200_status += 1
                    else:
                        count_correct_no_200_status += 1
                except ValueError:
                    count_not_integer_status += 1

        except json.JSONDecodeError:
            count_meg_unread  += 1
print(count_200_status)
print(count_correct_no_200_status) 
print(count_not_integer_status)
print(count_no_status)
print(count_meg_unread)

47
15
10
32
20

## Web crawler

In [ ]:
# vz.com/news/12/4/1011.html

In [16]:
with open("input_03.json") as f:
    web_index = json.load(f)
web_pages = []
stack = [(site_domain, section)
        for site_domain, section in web_index.items()]
while stack: 
    site_domain, section = stack.pop()
    if section:
        for a, b in section.items():
            stack.append((f'{site_domain}/n{a}',b))
    else:
        web_pages.append(site_domain)
web_pages

[('www.euro-football.com',
  {'article': {'31': {'508': {}, '600': {}}, '29': {'10': {}, '142': {}}}}),
 ('vz.com',
  {'news': {'12': {'6': {'2187.html': {}, '101.html': {}},
     '4': {'1011.html': {}, '798.html': {}}}}})]

## Word search index

In [43]:
words = [
'station'
'safety',
'quality',
'sales',
'quarterback',
'stability',
'standard',
'abc','acs']

In [45]:
import json
from collections import defaultdict

serch_index = defaultdict(dict)
for word in words:
    serch_index[word[0]].setdefault(word[:2], []).append(word)

serch_index = {
    key: {a: sorted(b) for a, b in value.items()}
    for key, value in serch_index.items()
}
serch_index 
# with open(output_filename, 'w') as f:
#     json.dump(serch_index, f)

{'s': {'st': ['stability', 'standard', 'stationsafety'], 'sa': ['sales']},
 'q': {'qu': ['quality', 'quarterback']},
 'a': {'ab': ['abc'], 'ac': ['acs']}}